/* Any Tipe */

.type {

    display: inline-block;
    width: 15vmin;

    text-align: center;

    border-radius: 15px;

    color: white;

    font-size: 3vmin;
    font-weight: 900;
    font-family: 'Montserrat Variable', sans-serif;

    /* First Letter in upper case  */
    text-transform: capitalize;

    padding: 1vmin;

}